QMainWindow#mainWindow {
  background-color: white;
}

QPushButton#uploadbtn {
  background-color: transparent;
  border-width: 2px;
  font-size: 18px;
  border-color: #d7e1fc;
  border-style: dashed;
  border-radius: 6px;
}

QPushButton#uploadbtn:hover {
  background-color: #d7e1fc;
}

QPushButton#backbtn {
  width: 30px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  text-align: left;
}

QPushButton#rendererbtn {
  color: black;
  font-size: 18px;
  width: 300px;
  border: none;
}

QPushButton#exportbtn {
  background-color: #249ea7;
  border-radius: 4px;
  border: none;
}

QPushButton#exportbtn:hover {
  background-color: #2ca6af;
}

QPushButton#historyArrowbtn {
  border: none;
  text-align: right;
}

QPushButton#recentbtn {
  border: none;
  border-bottom: 1px solid #ccc;
}

QPushButton#buttonInfo {
  border: none;
  background-color: transparent;
  text-align: right;
}

QPushButton#buttonReset {
  background-color: #249ea7;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

QPushButton#buttonReset:hover {
  background-color: #2ca6af;
}

QLabel#label-error {
  color: #b22222;
}

QLabel#filelabel {
  font-size: 18px;
  font-weight: 500;
}

QLabel#recentlabel {
  padding: 10px;
  font-size: 24px;
  font-weight: 500;
}

QLabel#recentlabelButton {
  font-size: 18px;
  color: black;
  font-weight: 300;
}

QLabel#recentlabelTimeButton {
  font-size: 15px;
  color: #808080;
}

QLabel#labelLoading {
  color: #000000;
  background-color: #249ea7;
  text-align: center;
}

QLabel#textUpload {
  font-size: 18px;
}

QLabel#textUpload2 {
  font-size: 18px;
  color: #249ea7;
  font-weight: 500;
}

QLabel#infoLabel {
  font-size: 17px;
}

QLabel#toggleText {
  font-size: 15px;
  font-weight: 300;
}

QTableWidget#resultTable {
  background-color: white;
  border: none;
}

QPushButton#viewButton {
  background-color: #249ea7;
  border: none;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px;
}

QTableWidgetItem {
  border: none;
  background-color: white;
}

QToolButton::menu-indicator {
  image: none;
}

QToolButton#buttonSettings {
  border: none;
  background-color: transparent;
  padding-bottom: 10px;
}

QDoubleSpinBox {
  border: 1px solid #d7e1fc;
  border-radius: 4px;
  padding: 5px;
  font-size: 18px;
}

QMenu {
  background-color: white;
  border: 1px solid #d7e1fc;
}

QComboBox {
  border: 1px solid #d7e1fc;
  border-radius: 4px;
  padding: 5px;
  font-size: 18px;
}

QScrollArea {
  border: none;
  background-color: white;
}

QWidget#widgetSettings {
  background-color: white;
}

QLabel#info_label {
  font-size: 12px;
  font-weight: 300;
}
