/* Main windows */
QMainWindow#mainWindow {
  background-color: #ffffff;
}

/* Home widget */
QPushButton#uploadbtn {
  background-color: #efefef;
  border-width: 2px;
  font-size: 18px;
  border-color: #249ea7;
  border-style: dashed;
  border-radius: 6px;
}

QPushButton#uploadbtn:hover {
  background-color: #d7e1fc;
  border-color: #A24936;
}

QWidget#recentBox {
  background-color: black;
}

QLabel#recentlabel {
  padding: 10px;
  font-size: 24px;
  font-weight: 500;
}

QLabel#recentlabelButton {
  font-size: 18px;
  color: black;
  font-weight: 300;
}

QLabel#recentlabelTimeButton {
  font-size: 15px;
  color: #808080;
}

/* Settings window */

QPushButton#backbtn {
  width: 30px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  text-align: left;
}

QLabel#settingsMainLabel {
  font-size: 32px;
  font-weight: 500;
  text-decoration: underline;
}

QLabel#settingsLabel {
  font-size: 18px;
  font-weight: 500;
  margin-left: 4px;
}

QPushButton#rendererbtn {
  color: #ffffff;
  font-size: 18px;
  width: 300px;
  border: none;
  background-color: #249ea7;
  padding: 10px;
  border-radius: 5px;
  font-weight: 400;
}

QPushButton#rendererbtn:hover {
  background-color: #2ca6af;
}

QPushButton#exportbtn {
  background-color: #249ea7;
  border-radius: 4px;
  border: none;
}

QPushButton#exportbtn:hover {
  background-color: #2ca6af;
}

QPushButton#historyArrowbtn {
  border: none;
  text-align: right;
}

QPushButton#recentbtn {
  border: none;
  border-bottom: 1px solid #ccc;
}

QPushButton#buttonInfo {
  border: none;
  background-color: transparent;
  text-align: right;
}

QPushButton#buttonReset {
  background-color: #249ea7;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 15px;
}

QPushButton#buttonReset:hover {
  background-color: #2ca6af;
}

QPushButton#mergeBtn {
  font-size: 15px;
  padding: 3px;
}

QPushButton#deleteBtn {
  border-radius: 4px;
  border-width: 1px;
  font-size: 15px;
  background-color: #e26565;
  border-color: #dadada;
  color: white;
  padding: 3px;
  border-style: solid;
}

QPushButton#deleteBtn:hover {
  background-color: #e27a7a;
}

QLabel#label-error {
  color: #b22222;
}

QLabel#filelabel {
  font-size: 18px;
  font-weight: 500;
}



QLabel#labelLoading {
  color: #000000;
  background-color: #249ea7;
  text-align: center;
}

QLabel#textUpload {
  font-size: 18px;
}

QLabel#textUpload2 {
  font-size: 18px;
  color: #249ea7;
  font-weight: 500;
}

QLabel#infoLabel {
  font-size: 17px;
}

QLabel#toggleText {
  font-size: 15px;
  font-weight: 300;
}

QTableWidget#resultTable {
  background-color: white;
  border: none;
}

QPushButton#viewButton {
  background-color: #249ea7;
  border: none;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px;
}

QTableWidgetItem {
  border: none;
  background-color: white;
}

QToolButton#buttonSettings {
  background-color: #249ea7;
  border-radius: 4px;
  border: none;
  padding: 2px;
}

QDoubleSpinBox {
  border: 1px solid #d7e1fc;
  border-radius: 4px;
  padding: 5px;
  font-size: 18px;
}

QMenu {
  background-color: white;
  border: 1px solid #d7e1fc;
}

QComboBox {
  border: 1px solid #d7e1fc;
  border-radius: 4px;
  padding: 5px;
  font-size: 18px;
}

QScrollArea {
  border: none;
  background-color: white;
}

QWidget#widgetSettings {
  background-color: white;
}

QLabel#info_label {
  font-size: 12px;
  font-weight: 300;
}
